@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
/*Global*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  background-image: url(../images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  max-width: 1440px;
  max-height: 800px;
  margin: auto;
  padding: 60px 80px 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 3.5rem;
}
p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.87rem;
}
/*Main Media Querty padding*/
@media (max-width: 50em) {
  main {
    padding: 20px 40px 20px;
  }
}
/*Main*/
.logo {
  width: 200px;
  position: relative;
  animation: heading 4s forwards ease;
}
@keyframes heading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.conteiner {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.illustration {
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  margin: auto 0;
  position: relative;
  animation: illustration 1.5s forwards ease;
}
@keyframes illustration {
  0% {
    left: -200px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
.conteiner_text {
  margin: 40px 0 0 50px;
  position: relative;
  animation: conteiner_text 1.5s forwards ease;
}
@keyframes conteiner_text {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
header {
  max-width: 400px;
}
.conteiner_text p {
  margin: 30px 0;
}
.conteiner_text button {
  padding: 17px 80px;
  border: none;
  border-radius: 30px;
  color: hsl(257, 40%, 49%);
  background-color: white;
  font-size: 1.8rem;
  box-shadow: 0px 4px 20px 3px hsl(257, 34%, 26%);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  opacity: 0;
  animation: button 1s forwards;
  animation-delay: 1.3s;
}
.conteiner_text button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}
@keyframes button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Media Query Main*/
@media (max-width: 50em) {
  .conteiner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 25px auto 0;
  }
  .illustration {
    width: 75%;
    margin: auto;
  }
  header {
    margin: auto;
  }
  .conteiner_text {
    margin: auto;
    text-align: center;
  }
  .conteiner_text button {
    padding: 13px 100px;
  }
}
/*Footer socials*/
footer {
  text-align: right;
  margin-top: 5px;
}
.linkbtn {
  font-size: 3.5rem;
  color: white;
  margin-left: 15px;
  transition: color 0.1s ease-out;
  opacity: 0;
  animation: linkbtn 2s forwards;
  animation-delay: 1.5s;
}
.linkbtn:hover {
  color: hsl(300, 69%, 71%);
}
@keyframes linkbtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Media Query footer*/
@media (max-width: 62.5em) {
  footer {
    text-align: center;
    margin-top: 50px;
  }
}
